<nav class="navbar">
      <span class="h1 mx-auto" class="navbar-brand mb-0">Profile</span>
    </nav>

    <div class="container mt-5" style="height: 103px;">
      <div class="row align-items-center">
        <div class="col-sm-4">
          <%= image_tag("person.png", class: "float-left") %>
        </div>
        <div class="d-flex justify-content-center col-sm-4"><p>Jeremy Scott</p></div>
        <div class="col-sm-4"><i class=" float-right fa fa-cog fa-2x" aria-hidden="true"></i></div>
      </div>
    </div>

    <div class="container mt-5 mb-5">
        <div class="row">
          <div class="col-sm-4 col-md-4">
          	<%= image_tag("photo-1.png") %>
          </div>
          <div class="col-sm-4 col-md-4">
          	<%= image_tag("photo-2.png") %>
          </div>
          <div class="col-sm-4 col-md-4">
          	<%= image_tag("photo-3.png") %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-4">
          	<%= image_tag("photo-4.png") %>
          </div>
          <div class="col-sm-4 col-md-4">
          	<%= image_tag("photo-5.png") %>
          </div>
          <div class="col-sm-4 col-md-4">
          	<%= image_tag("photo-6.png") %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-4">
          	<%= image_tag("photo-7.png") %>
          </div>
          <div class="col-sm-4 col-md-4">
          	<%= image_tag("photo-8.png") %>
          </div>
          <div class="col-sm-4 col-md-4">
          	<%= image_tag("photo-9.png") %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-4">
          	<%= image_tag("photo-10.png") %>
          </div>
          <div class="col-sm-4 col-md-4">
          	<%= image_tag("photo-11.png") %>
          </div>
          <div class="col-sm-4 col-md-4">
          	<%= image_tag("photo-12.png") %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-4">
          	<%= image_tag("photo-13.png") %>
          </div>
          <div class="col-sm-4 col-md-4">
          	<%= image_tag("photo-14.png") %>
          </div>
          <div class="col-sm-4 col-md-4">
          	<%= image_tag("photo-15.png") %>
          </div>
        </div>
    </div>      

    <nav class="navbar navbar-bottom bg-primary">

    <%= image_tag("photo-button.png", style: "margin: -8% auto 0 auto") %>

     <input class="camera-button" type="file">
    </nav>