<%= form_with(model: music_genre, local: true) do |form| %>
  <% if music_genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(music_genre.errors.count, "error") %> prohibited this music_genre from being saved:</h2>

      <ul>
      <% music_genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :music_genre_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
