<p id="notice"><%= notice %></p>

<h1>Music Genres</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @music_genres.each do |music_genre| %>
      <tr>
        <td><%= music_genre.name %></td>
        <td><%= link_to 'Show', music_genre %></td>
        <td><%= link_to 'Edit', edit_music_genre_path(music_genre) %></td>
        <td><%= link_to 'Destroy', music_genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Music Genre', new_music_genre_path %>
